.demo-card-wide.mdl-card {
    width: 202px;
    min-height: 0px;
    margin: 5px;
    cursor: pointer;
}

.mdl-card__supporting-text{
    padding-bottom: 0px !important;
}

.note-card-view :hover,
.folder-card-view :hover {
    background-color: rgb(230, 230, 230);
    -webkit-transition: background-color 250ms linear;
    -ms-transition: background-color 250ms linear;
    transition: background-color 250ms linear;
}

.demo-card-wide>.mdl-card__title {
    color: black;
}

.packery-drop-placeholder {
    outline: 3px dashed #444;
    outline-offset: -6px;
    /* transition position changing */
    -webkit-transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
}


/* highlight drag & drop */


/* jQuery UI Draggable adds ui-draggable-dragging */

.ui-draggable-dragging,
.is-positioning-post-drag {
    background: #C90;
    z-index: 20000 !important;
    /* keep dragged item on top */
}

.demo-card-wide>.mdl-card__menu {
    color: #fff;
}

body {
    background: #fafafa;
    position: relative;
}

#page-content {
    position: relative;
    margin: 0 auto;
}

#grid-container {
    margin: 0 auto;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.big-text {
    font-size: 40px;
}

.medium-text {
    font-size: 30px;
}

@media (min-width: 1314px) {
    #grid-container {
        max-width: 1074px;
        left: calc(50% - 537px);
    }
}

.card-title {
    font-size: 24px;
    font-weight: 300;
    line-height: normal;
    color: black;
    margin: 0px;
}

.card-text {
    line-height: initial;
    margin-bottom: 10px;
    margin-right: 20px;
    word-wrap: break-word;
    color: rgba(0,0,0,.87);
    
}

.card-title:hover {
    background: none;
}

.card-text:hover {
    background: none;
}

.mdl-layout__header {
    -webkit-app-region: drag;
}

.mdl-layout__header .mdl-layout__drawer-button,
.mdl-layout__header button,
.mdl-layout__header .mdl-textfield {
    -webkit-app-region: no-drag;
}

.folder-icon {
    width: 50px;
}

.card-more-button {
    right: 0px;
    background: inherit !important;
    position: absolute !important;
}

.keywords{
    margin-bottom:16px;
}

.keyword {
    margin-right: 3px;
    margin-top: 3px;
    padding: 3px;
    background: #D2D2D2;
    display: inline-block;
}

.card-rating{
    margin-right:10px;
    float:right;
}

.card-medias{
    margin-left:-20px;
    margin-right:-5px;
    background: black;
    border-radius: 2px;
}
.card-medias img{
    width:100%;
}
